#### 1- Kütüphanelerin Yüklenmesi

In [1]:
import numpy as np ## numpy kütüphanesinin import edilmesi
import pandas as pd ## pandas kütüphanesinin import edilmesi
import seaborn as sns ## seaborn kütüphanesinin import edilmesi
import matplotlib.pyplot as plt ## matplotlip kütüphanesinin import edilmesi
import datetime as dt ## datetime kütüphanesinin import edilmesi
pd.pandas.set_option('display.max_columns', None) ## dataframein tüm sutunlarının görülmesi için gereken kod

### 2- Verisetinin Yüklenmesi

In [ ]:

data = pd.read_excel("MarketSales.xlsx")

In [5]:
data.head(5)

,ID,ITEMCODE,ITEMNAME,FICHENO,DATE_,AMOUNT,PRICE,LINENETTOTAL,LINENET,BRANCHNR,BRANCH,SALESMAN,CITY,REGION,LATITUDE,LONGITUDE,CLIENTCODE,CLIENTNAME,BRANDCODE,BRAND,CATEGORY_NAME1,CATEGORY_NAME2,CATEGORY_NAME3,STARTDATE,ENDDATE,GENDER
0,11738.0,5863.0,SPRITE 1 LT LIMON AROMALI GAZOZ,18456,2017-01-07,1.0,2.00,2.00,1.85,52.0,Kocaeli Subesi,Eyüp CİNE,Kocaeli,Marmara,40.8533,29.8815,467369,Sercan KIZILOK,156,SPRİTE,İÇECEK,GAZLI İÇECEK,GAZOZ,2017-01-08 16:16:11,2017-01-08 16:17:13,E
1,10537.0,8.0,TOZ SEKER,18105,2017-01-06,5.0,2.65,13.25,12.27,8.0,Antalya Subesi,İlhan ÖRENLİ,Antalya,Akdeniz,36.8841,30.7056,131464,İsmet ŞINGIR,NaN,NaN,İÇECEK,ÇAY KAHVE,SEKER TATLANDIRICI,2017-01-07 11:04:34,2017-01-07 11:05:37,E
2,11335.0,5979.0,FALIM SAKIZ 5LI NANE,18350,2017-01-03,1.0,0.40,0.40,0.37,40.0,İstanbul Subesi,İsmet SARTIK,İstanbul,Marmara,41.0053,28.9770,656969,Yağız KUBAL,300,FALIM,GIDA,SAKIZ SEKERLEME,SAKIZ,2017-01-04 14:00:03,2017-01-04 14:01:01,E
3,11336.0,5979.0,FALIM SAKIZ 5LI NANE,18350,2017-01-03,1.0,0.40,0.40,0.37,40.0,İstanbul Subesi,İsmet SARTIK,İstanbul,Marmara,41.0053,28.9770,656969,Yağız KUBAL,300,FALIM,GIDA,SAKIZ SEKERLEME,SAKIZ,2017-01-04 14:00:03,2017-01-04 14:01:01,E
4,10115.0,12808.0,FALIM SAKIZ 5LI CILEK,18005,2017-01-05,1.0,0.40,0.40,0.37,41.0,İzmir Subesi,Gülten IŞLAK,İzmir,Ege,38.4189,27.1287,447336,Habibe AYSAN,300,FALIM,GIDA,SAKIZ SEKERLEME,SAKIZ,2017-01-06 14:00:30,2017-01-06 14:01:03,K

### 3- Verisetinin Orjinalinde degisiklik olmamasi icin veriyi baska bir degiskene atayın

In [6]:
df=data.copy()

### 4-Verisetinin Boyutlarını bulunuz

In [7]:
df.shape

(611108, 26)

### 5-Verisetinin Sutunlarının Isimlerini Yazdırın

In [8]:
df.columns

Index(['ID', 'ITEMCODE', 'ITEMNAME', 'FICHENO', 'DATE_', 'AMOUNT', 'PRICE',
       'LINENETTOTAL', 'LINENET', 'BRANCHNR', 'BRANCH', 'SALESMAN', 'CITY',
       'REGION', 'LATITUDE', 'LONGITUDE', 'CLIENTCODE', 'CLIENTNAME',
       'BRANDCODE', 'BRAND', 'CATEGORY_NAME1', 'CATEGORY_NAME2',
       'CATEGORY_NAME3', 'STARTDATE', 'ENDDATE', 'GENDER'],
      dtype='object')

### 6- Veri setinin bilgilerine ulaşılması

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 611108 entries, 0 to 611107
Data columns (total 26 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   ID              611107 non-null  float64
 1   ITEMCODE        603941 non-null  float64
 2   ITEMNAME        603941 non-null  object
 3   FICHENO         611108 non-null  int64
 4   DATE_           611107 non-null  datetime64[ns]
 5   AMOUNT          611107 non-null  float64
 6   PRICE           611107 non-null  float64
 7   LINENETTOTAL    611107 non-null  float64
 8   LINENET         611107 non-null  float64
 9   BRANCHNR        611107 non-null  float64
 10  BRANCH          611107 non-null  object
 11  SALESMAN        611108 non-null  object
 12  CITY            611107 non-null  object
 13  REGION          611107 non-null  object
 14  LATITUDE        611107 non-null  float64
 15  LONGITUDE       611107 non-null  float64
 16  CLIENTCODE      592760 non-null  object
 17  CLIENTNAME      592743 non-null  object
 18  BRANDCODE       575551 non-null  object
 19  BRAND           575551 non-null  object
 20  CATEGORY_NAME1  603941 non-null  object
 21  CATEGORY_NAME2  583448 non-null  object
 22  CATEGORY_NAME3  401649 non-null  object
 23  STARTDATE       611108 non-null  datetime64[ns]
 24  ENDDATE         611108 non-null  datetime64[ns]
 25  GENDER          592743 non-null  object
dtypes: datetime64[ns](3), float64(9), int64(1), object(13)
memory usage: 121.2+ MB

### 7- Verisetinde bos deger var mi diye sorgulama

In [10]:
df.isnull().any()

ID                 True
ITEMCODE           True
ITEMNAME           True
FICHENO           False
DATE_              True
AMOUNT             True
PRICE              True
LINENETTOTAL       True
LINENET            True
BRANCHNR           True
BRANCH             True
SALESMAN          False
CITY               True
REGION             True
LATITUDE           True
LONGITUDE          True
CLIENTCODE         True
CLIENTNAME         True
BRANDCODE          True
BRAND              True
CATEGORY_NAME1     True
CATEGORY_NAME2     True
CATEGORY_NAME3     True
STARTDATE         False
ENDDATE           False
GENDER             True
dtype: bool

### 8- Verisetindeki Sutunlarda Toplam Kaç Adet Değer Var Bulunuz

In [11]:
df.isnull().sum()

ID                     1
ITEMCODE            7167
ITEMNAME            7167
FICHENO                0
DATE_                  1
AMOUNT                 1
PRICE                  1
LINENETTOTAL           1
LINENET                1
BRANCHNR               1
BRANCH                 1
SALESMAN               0
CITY                   1
REGION                 1
LATITUDE               1
LONGITUDE              1
CLIENTCODE         18348
CLIENTNAME         18365
BRANDCODE          35557
BRAND              35557
CATEGORY_NAME1      7167
CATEGORY_NAME2     27660
CATEGORY_NAME3    209459
STARTDATE              0
ENDDATE                0
GENDER             18365
dtype: int64

### 9- Verisetinde Toplam Kaç Adet Değer Var Bulunuz

In [12]:
df.isnull().sum().sum()

np.int64(384824)

### 10- Verisetinde Boş Değer Olan Sutunların İsimlerini yazdıralım

In [13]:
df.isnull().any()

ID                 True
ITEMCODE           True
ITEMNAME           True
FICHENO           False
DATE_              True
AMOUNT             True
PRICE              True
LINENETTOTAL       True
LINENET            True
BRANCHNR           True
BRANCH             True
SALESMAN          False
CITY               True
REGION             True
LATITUDE           True
LONGITUDE          True
CLIENTCODE         True
CLIENTNAME         True
BRANDCODE          True
BRAND              True
CATEGORY_NAME1     True
CATEGORY_NAME2     True
CATEGORY_NAME3     True
STARTDATE         False
ENDDATE           False
GENDER             True
dtype: bool

In [ ]:
df.isnull().any() == False ### tum degerleri dolu sutunlar icin

ID                False
ITEMCODE          False
ITEMNAME          False
FICHENO            True
DATE_             False
AMOUNT            False
PRICE             False
LINENETTOTAL      False
LINENET           False
BRANCHNR          False
BRANCH            False
SALESMAN           True
CITY              False
REGION            False
LATITUDE          False
LONGITUDE         False
CLIENTCODE        False
CLIENTNAME        False
BRANDCODE         False
BRAND             False
CATEGORY_NAME1    False
CATEGORY_NAME2    False
CATEGORY_NAME3    False
STARTDATE          True
ENDDATE            True
GENDER            False
dtype: bool

In [15]:
df.columns[df.isnull().any()]

Index(['ID', 'ITEMCODE', 'ITEMNAME', 'DATE_', 'AMOUNT', 'PRICE',
       'LINENETTOTAL', 'LINENET', 'BRANCHNR', 'BRANCH', 'CITY', 'REGION',
       'LATITUDE', 'LONGITUDE', 'CLIENTCODE', 'CLIENTNAME', 'BRANDCODE',
       'BRAND', 'CATEGORY_NAME1', 'CATEGORY_NAME2', 'CATEGORY_NAME3',
       'GENDER'],
      dtype='object')

In [16]:
df.columns[df.isnull().any() == False]

Index(['FICHENO', 'SALESMAN', 'STARTDATE', 'ENDDATE'], dtype='object')

### 11-Verisetinin Sutunlarında Kaç farklı Tip var Onu Bulalım

In [17]:
df.dtypes.nunique()

4

### 12- Verisetinin Sutunlarındaki Eşsiz Tipler Nelerdir Onlara Bakalım

In [18]:
df.dtypes.unique()

array([dtype('float64'), dtype('O'), dtype('int64'), dtype('<M8[ns]')],
      dtype=object)

### 13-Verisetinin İlk 5 Satırını Yazdıralım

In [19]:
df.head()

,ID,ITEMCODE,ITEMNAME,FICHENO,DATE_,AMOUNT,PRICE,LINENETTOTAL,LINENET,BRANCHNR,BRANCH,SALESMAN,CITY,REGION,LATITUDE,LONGITUDE,CLIENTCODE,CLIENTNAME,BRANDCODE,BRAND,CATEGORY_NAME1,CATEGORY_NAME2,CATEGORY_NAME3,STARTDATE,ENDDATE,GENDER
0,11738.0,5863.0,SPRITE 1 LT LIMON AROMALI GAZOZ,18456,2017-01-07,1.0,2.00,2.00,1.85,52.0,Kocaeli Subesi,Eyüp CİNE,Kocaeli,Marmara,40.8533,29.8815,467369,Sercan KIZILOK,156,SPRİTE,İÇECEK,GAZLI İÇECEK,GAZOZ,2017-01-08 16:16:11,2017-01-08 16:17:13,E
1,10537.0,8.0,TOZ SEKER,18105,2017-01-06,5.0,2.65,13.25,12.27,8.0,Antalya Subesi,İlhan ÖRENLİ,Antalya,Akdeniz,36.8841,30.7056,131464,İsmet ŞINGIR,NaN,NaN,İÇECEK,ÇAY KAHVE,SEKER TATLANDIRICI,2017-01-07 11:04:34,2017-01-07 11:05:37,E
2,11335.0,5979.0,FALIM SAKIZ 5LI NANE,18350,2017-01-03,1.0,0.40,0.40,0.37,40.0,İstanbul Subesi,İsmet SARTIK,İstanbul,Marmara,41.0053,28.9770,656969,Yağız KUBAL,300,FALIM,GIDA,SAKIZ SEKERLEME,SAKIZ,2017-01-04 14:00:03,2017-01-04 14:01:01,E
3,11336.0,5979.0,FALIM SAKIZ 5LI NANE,18350,2017-01-03,1.0,0.40,0.40,0.37,40.0,İstanbul Subesi,İsmet SARTIK,İstanbul,Marmara,41.0053,28.9770,656969,Yağız KUBAL,300,FALIM,GIDA,SAKIZ SEKERLEME,SAKIZ,2017-01-04 14:00:03,2017-01-04 14:01:01,E
4,10115.0,12808.0,FALIM SAKIZ 5LI CILEK,18005,2017-01-05,1.0,0.40,0.40,0.37,41.0,İzmir Subesi,Gülten IŞLAK,İzmir,Ege,38.4189,27.1287,447336,Habibe AYSAN,300,FALIM,GIDA,SAKIZ SEKERLEME,SAKIZ,2017-01-06 14:00:30,2017-01-06 14:01:03,K

### 14-Verisetinin son 7 Satırını Yazdıralım

In [20]:
df.tail(n=7)

,ID,ITEMCODE,ITEMNAME,FICHENO,DATE_,AMOUNT,PRICE,LINENETTOTAL,LINENET,BRANCHNR,BRANCH,SALESMAN,CITY,REGION,LATITUDE,LONGITUDE,CLIENTCODE,CLIENTNAME,BRANDCODE,BRAND,CATEGORY_NAME1,CATEGORY_NAME2,CATEGORY_NAME3,STARTDATE,ENDDATE,GENDER
611101,511342.0,6480.0,UNO KEPEKLI EKMEK 470GR.,134601,2017-03-18,1.0,3.25,3.25,3.22,73.0,Tekirdağ Subesi,Aleyna ÇUKUREL,Tekirdağ,Marmara,40.9833,27.5167,16670,Berat ÖGMEN,145,UNO,GIDA,UNLU MAMÜLLER,EKMEK,2017-03-19 18:54:51,2017-03-19 18:54:58,E
611102,512198.0,7.0,EKMEK 250 GR,134742,2017-03-18,1.0,0.90,0.90,0.89,40.0,İstanbul Subesi,İsmet SARTIK,İstanbul,Marmara,41.0053,28.9770,523722,Özcan PAPİR,NaN,NaN,GIDA,UNLU MAMÜLLER,EKMEK,2017-03-19 16:09:39,2017-03-19 16:11:10,E
611103,511703.0,7.0,EKMEK 250 GR,134656,2017-03-18,1.0,0.90,0.90,0.89,66.0,Sakarya Subesi,Beren BULGURCU,Sakarya,Marmara,40.6940,30.4358,374191,Mahmut BAYATGİL,NaN,NaN,GIDA,UNLU MAMÜLLER,EKMEK,2017-03-19 09:39:54,2017-03-19 09:40:50,E
611104,511496.0,7.0,EKMEK 250 GR,134630,2017-03-18,1.0,0.90,0.90,0.89,7.0,Ankara Subesi,Eda SINAV,Ankara,İç Anadolu,39.9208,32.8541,656248,Gamze BOTUÇ,NaN,NaN,GIDA,UNLU MAMÜLLER,EKMEK,2017-03-19 20:30:58,2017-03-19 20:31:17,K
611105,492612.0,7.0,EKMEK 250 GR,130100,2017-03-15,1.0,0.90,0.90,0.89,59.0,Muğla Subesi,Nisa nur SAĞIM,Muğla,Ege,37.2153,28.3636,78643,Cengiz BEREKETÇİ,NaN,NaN,GIDA,UNLU MAMÜLLER,EKMEK,2017-03-16 17:51:04,2017-03-16 17:51:18,E
611106,512343.0,7.0,EKMEK 250 GR,134762,2017-03-18,1.0,0.90,0.90,0.88,40.0,İstanbul Subesi,Arife DORAP,İstanbul,Marmara,41.0053,28.9770,926041,Elifnur EGİNKAYA,NaN,NaN,GIDA,UNLU MAMÜLLER,EKMEK,2017-03-19 17:00:12,2017-03-19 17:01:20,K
611107,512179.0,3942.0,ETI 80 GR KARAM BITTER,134738,2017-03-18,1.0,1.90,1.90,1.76,74.0,Tokat Subesi,Lütfiye DÖŞEME,Tokat,Karadeniz,40.3167,36.5500,241748,Hacer CANDEMİR,44,ETİ,GIDA,BÜSKİVİ ÇEREZ,BÜSKİVİ,2017-03-19 16:00:15,2017-03-19 16:00:37,K

### 15- Verisetinde her satır için AMOUNT PRICE LINENETTOTAL sutunlarına ait bilgileri yazdıralım

In [21]:
df["AMOUNT"].head()

0    1.0
1    5.0
2    1.0
3    1.0
4    1.0
Name: AMOUNT, dtype: float64

In [ ]:
df["AMOUNT","PRICE"]

In [ ]:
df[["AMOUNT","PRICE","LINENETTOTAL"]].head()

### 16- Verisetinde LINENETTOTAL sutunda 15 ten büyük olan satırları yazdıralım

In [ ]:
df[df["LINENETTOTAL"] > 15].head(3)

### 17- Verisetinde BRANCH ı Balıkesir Subesi olan satırları bulalım

In [ ]:
df["BRANCH"].head()

In [ ]:
df["BRANCH"].unique()

In [ ]:
df[df["BRANCH"] == "Balıkesir Subesi"].head(3)